body {
  padding-top: 20px;
}
.img-icon {
  width: 10px;
  height: 10px;
}
.starter-template {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 0;
}
.starter-template-pic {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 0;
  text-align: center;
  max-width: 325px;
  margin: 0 auto;
  margin-top: 20px;
}
.header-template {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}
/* Custom page footer */
.footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
#footer li {
  display: inline;
}
/* Custom matricies */
.matricies {
  text-align: center;
  margin: 0 auto;
}
#matricies li {
  display: inline;
}
/* Custom resume style */
.resume-template {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 850px;
  margin: 0 auto;
}
.resume-template-end {
  padding-top: 0;
  padding-bottom: 20px;
  max-width: 850px;
  margin: 0 auto;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
   background: #007bb5;
   color: white;
 }

.fa-github {
  background: #2b646b;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-flickr {
  background: #f40083;
  color: white;
}
.fa-spotify {
  background: #ff5500;
  color: white;
}

.social{
  position: fixed; /* Fixed position */
  bottom: 75px;
  right: 0px; /* right side of page */
  opacity: 0.75; /* 50% opaque */
}


