body {
  padding-top: 5px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-wrapper {
    position:relative;
    list-style:none;
    border-bottom:none;
    text-align: center;
}

ul.navbar-wrapper li {
	display:inline-block
}